__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
saves/
*.tmp

# PyInstaller / Pygbag build files
build/
dist/

# Android build outputs
.buildozer/
bin/
node_modules/
dist_apk/
android/.gradle/
android/app/build/
android/build/
